<aside>
    <div class="menu-container">
        <h1>TI System</h1>
        <ul>
            <li><a href="/visits">Visitas Técnicas</a></li>
            <li><a href="/tasks">Tarefas</a></li>
            <li><a href="/shopping">Compras</a></li>
        </ul>
    </div>
</aside>