<aside>
    <div class="menu-container">
        <h1>TI System</h1>
        <ul>
            <li><a href="/visits">Visitas Técnicas</a></li>
            <li>
                <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn">Tarefas</button>
                    <div id="myDropdown" class="dropdown-content">
                      <a href="/tasks">Pendetes</a>
                      <a href="/tasks/solvedtasks">Resolvidas</a>
                    </div>
                  </div>
            </li>
            <li><a href="/shopping">Compras</a></li>
            <li><a href="/stock">Estoque</a></li>
        </ul>
    </div>
</aside>